
<div class="container">
  <h3 class= "text-center">Pay as guest</h3>
  <input class="form-control form-control-lg" type="text" placeholder="Enter your car plate here!" [(ngModel)]="carplate">
  
  <div class="text-danger" [hidden]="no_data">
      <div>Car plate not found!, please contact 082-1234567</div>
  </div>
  <div class="text-success" [hidden]="hide_paid_message">
    <div>You had paid your parking fee, please exit before {{exit_time}}</div>
</div>
  <div class=py-2></div>

  <div class="row mb-2">
    <div class="col text-center">
      <button type="submit" class="btn btn-primary px-4 m-3 " (click)="payment_as_guest()">Pay Now!</button>
    </div>
  </div>

  <div class="bg-dark py-1 mb-2"></div>
`  
  <div class="mb-3">
    <h3 class="text-center ">Pay using your account</h3>
  </div>
  
 
  <div class="row ">
      <div class="col text-center">
          <input type="email"  class="form-control" id="staticEmail" placeholder="Your email" [(ngModel)]="email" required >
          
      </div>
  </div>
  <div class = "pt-3"></div>
  <div class=" row ">
      <div class="col text-center">
          <input type="password"  class="form-control " id="staticEmail" placeholder="Password" [(ngModel)]="password" required >
      </div>
  </div>

  <div class="text-danger" >
      <div>{{error_message}}</div>
  </div>
  <div class = "pt-3"></div>

  <div class="row">
    <div class="col text-center">
        <button type="submit" class="btn btn-primary px-4 " (click) = "user_login()">Login</button>
    </div>
  </div>

  <h6 class="text-center pt-2">Don't have an account? register now!<button (click)=openDialog()>Reset Password!</button></h6>
  <div class="row mb-2">
    <div class="col text-center">
        <button type="submit" class="btn btn-primary  px-1" routerLink="/register">Create a new account</button>
      </div>
  </div>
</div>

<ngx-loading [show]="loading"></ngx-loading>