<h1 mat-dialog-title class="text-center font-weight-bold">Reset Password</h1>
<div mat-dialog-content>
    <h5 class="font-weight-bold">Please enter your email</h5>
    <div class="row">
       <div> 
        <div class=" text-center">
         <input type="email"  class="form-control" id="staticEmail" placeholder="Your email" [(ngModel)]="email" required >
        </div>
        <div [hidden]="successful">
                <span class="font-weight-bold text-success">Password reset link has bend sent to your email!</span>
        </div>
    </div>
    </div>

    
</div>
<div mat-dialog-actions >
<button class="btn btn-primary px-3 mx-2" mat-button (click) ="print()" cdkFocusInitial>Reset password</button>
  <button class="btn btn-primary px-3  " mat-button (click)="onNoClick()">Close</button>
  
</div>
